<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="testCasae.ListnerA"></listener>
</listeners>
<!--<groups>
<run> 
<include name = "smoke"></include>
</run>
</groups>-->

  <test thread-count="5" name="Test">
  <parameter name="username" value="username@2004"></parameter>
    <classes>
	<class name="testCasae.OtherTest"/>
<!--      <class name="testCasae.MobileTest"/>
      <methods>
      <include name="mobileOff"></include>
      </methods>
      <class name="testCasae.LoginTest">
      </class>
       <class name="testCasae.AnnotationTest"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
